# Exercise 1 - Pandas

### Read __`data/drinks.csv`__ into a DataFrame called __`drinks`__

### Print out first and last 5 lines, determine the shape, and data types of the columns

### Print the __`beer_servings`__ column

### Calculate the average beer_servings for the entire data set

### Count the number of occurrences of each __`continent`__ value and see if it looks correct

### Filter __`drinks`__ to only include European countries

### Filter __`drinks`__ to only include European countries with __`wine_servings > 300`__

### Calculate the average __`beer_servings`__ for all of Europe

### Determine which 10 countries have the highest __`total_litres_of_pure_alcohol`__

### Read __`data/ufo.csv`__ into a DataFrame called __`ufo`__

In [18]:
ufo = pd.read_csv('data/ufo.csv')

### What are the three most common colors reported?

### Rename columns to removes spaces in the column names

### For reports in VA, what's the most common city?

### Print a DataFrame containing only reports from Arlington, VA